<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>10MB</totalSizeCap>
            <!-- 1 day to keep -->
            <maxHistory>1</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.netflix" level="INFO" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="reactor" level="WARNING" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="edu.clubhouseapi" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="WARNING">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>